@using ProjectWebApp.Models.SwotViewModel
@using ProjectWebApp.Models
@model IndexViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;">SWOT ANALYSIS </h1>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
	.draggable {
		width: 90px;
		height: 90px;
		padding: 0.5em;
		float: left;
		margin: 0 10px 10px 0;
	}

	#containment-wrapper, #containment-wrapper2, #containment-wrapper3, #containment-wrapper4 {
		width: 50%;
		height: 400px;
		border: 2px solid #ccc;
		padding: 10px;
		float: left
	}



	#sortable, #sortable2, #sortable3, #sortable4 {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 200px;
	}

		#sortable li, #sortable2 li, #sortable3 li, #sortable4 li {
			padding: 1px;
			float: left;
			width: 150px;
			height: 90px;
			font-size: 1em;
			text-align: center;
		}
</style>

@section Scripts {
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#sortable, #sortable2, #sortable3, #sortable4").sortable();
			$("#sortable, #sortable2, #sortable3, #sortable4").disableSelection();

			$("#sortable li").draggable({ containment: "#containment-wrapper", scroll: false });
			$("#sortable2 li").draggable({ containment: "#containment-wrapper2", scroll: false });
			$("#sortable3 li").draggable({ containment: "#containment-wrapper3", scroll: false });
			$("#sortable4 li").draggable({ containment: "#containment-wrapper4", scroll: false });


		});

	</script>

}



<div id="containment-wrapper">
	<p style="text-align:center; font-size: 2em; color: dodgerblue;"> Strenghts </p>
	<ul id="sortable">
		@foreach (var item in Model.Strenghts)
		{
			<li class="ui-state-default"> @Html.DisplayFor(modelItem => item.Content)  </li>
		}
	</ul>


</div>





<div id="containment-wrapper2">
	<p style="text-align:center; font-size: 2em; color: coral; ">Weaknesses</p>
	<ul id="sortable2">
		@foreach (var item in Model.Weaknesses)
		{
			<li class="ui-state-default">  @Html.DisplayFor(modelItem => item.Content)  </li>
		}
	</ul>
</div>



<div id="containment-wrapper3">
	<p style="text-align:center; font-size: 2em;  color: mediumpurple; ">Opportunities</p>
	<ul id="sortable3">
		@foreach (var item in Model.Opportunities)
		{

			<li class="ui-state-default">  @Html.DisplayFor(modelItem => item.Content)  </li>

		}
	</ul>
</div>



<div id="containment-wrapper4">
	<p style="text-align:center; font-size: 2em; color: tomato ;">Threats</p>
	<ul id="sortable4">
		@foreach (var item in Model.Threats)
		{

			<li class="ui-state-default">  @Html.DisplayFor(modelItem => item.Content)  </li>

		}
	</ul>
</div>






<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Strenghts)
			</th>

			<th>
				PROJECT
			</th>

			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model.Strenghts)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Project.Name)
				</td>
				<td>
					<a asp-controller="Strength" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-controller="Strength" asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
					<a asp-controller="Strength" asp-action="Create">Add</a>|
				</td>
			</tr>
		}

	</tbody>
</table>



<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Weaknesses)
			</th>
			<th>
				PROJECT
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model.Weaknesses)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Content)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Project.Name)
				</td>
				<td>
					<a asp-controller="Weakness" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-controller="Weakness" asp-action="Create">Add</a> |
					<a asp-controller="Weakness" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}

	</tbody>
</table>

